/JavaApplication/nbproject/private/
/WebApplication/nbproject/private/
/WebApplication/build/
/ACMICPC/nbproject/private/
/ACMICPC/build/
/HomePanelProject/nbproject/private/
/HomePanelApplication/nbproject/private/
/HomePanelApplication/build/
/HomePanelApplication/dist/
/WebApplication/dist/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFxProgramming/nbproject/private/
/RPi-LCD-JavaFxProgramming/build/
/RPi-LCD-JavaFxProgramming/dist/
/SmartHomePanel_test/build/
/SmartHomePanel_test/dist/
/SmartHomePanel_test/nbproject/private/
/Hardware/nbproject/private/
/Hardware/build/
/Hardware/dist/
/Network/nbproject/private/
/Network/build/
/Network/dist/
/SensingCar/nbproject/private/
/SensingCar/build/
/SensingCar/dist/
/SensingCarPanelControl/nbproject/private/
/SensingCarPanelControl_Local/nbproject/private/
/SensingCarPanelControl_Local/dist/
/SensingCarPanelControl_Local/build/