#btn_call{
   -fx-background-color: transparent;
    opacity: 0.5;
}

#btn_show{
     -fx-background-color: transparent;
     opacity: 0.5;
}

#btn_open{
     -fx-background-color: transparent;
      opacity: 0.5;
}

